%h1 Viewing Voting Results
-# tally up all the votes from the current round of the current group
-# list the places from highest votes to lowest votes
- vote_totals = tally_votes
- vote_list_class = "vote_winner"
%ul
  - vote_totals.each do |vote_total|
    %li{:class => vote_list_class}
      = place_name(vote_total[0])
      = vote_total[1]
    - vote_list_class = ""
