%h1 New place
%h4
  = link_to group_name(previous_group), group(previous_group)
  > #{link_to 'Nominate', :controller => "nominations", :action => "new", :previous_group => previous_group} > Add A Place
= render 'form'
= link_to 'Back', places_path